node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# cores do tema fonte das aguas
#  (#165865- verder -)
#  (#ffcc29- amarelo -)
#  (#ed3237- vermelho -)
#  (#13bab2- ciano fonte -)